@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  background-color: #f5f5f7;
  color: #1d1d1f;
  font-feature-settings: "tnum"; /* 數字等寬，利於對齊 */
}
